@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
aside{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    width: 80px;
    left: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 1s;
    z-index: 10;
    overflow: auto;
}

.sidebar.active{
    width: 250px;
}
.sidebar.active ~ .rightbar{
    width: calc(100% - 250px);
    left: 250px;
}

.sidebar.active .side_body img{
    width: 100px;
    transition: 1s linear;
}
.sidebar.active .side_logo h2{
    display: flex;
    transition: 1s linear;
}
.sidebar.active .side_body h4{
    font-size: 25px;
    transition: 1s linear;
}
.sidebar.active #text,
.sidebar.active #plus{
    display: flex;
    transition: 1s linear;
}

.side_logo{
    background: #709caa;
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 10px;
    color: navy;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s linear;
}
.side_logo h2{
    font-size: 35px;
    color: navy;
    font-family: lato;
    margin-left: 8px;
    transition: 1s linear;
    display: none;
}
.side_body{
    text-align: center;
    padding: 10px;
    background: #96cddd;
    position: relative;
}

.side_body img{
    width: 60px;
    border-radius: 20%;
    transition: 1s linear;
    cursor: pointer;
}
.side_body h4{
    font-size: 15px;
    transition: 1s linear;
}
.menu-list{
    width: 100%;
    margin-top: 10px;
    overflow: auto;
}
.menu-list li{
    height: 60px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    background: #f2fff8;
    /* background: #cce7d8; */
    padding: 0 15px;
    padding-left: 30px;
    transition: 1s linear;
    cursor: pointer;
    overflow: hidden;
}
.menu-list li:hover{
    background: #cce7d8;
}
.menu-list li a{
    color: #5a5a5a;
    font-family: lato;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    transition: 1s linear;
}
.menu-list li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    bottom: -6px;
    background: #0af373;
}
.menu-list li a.active::after{
    width: 100%;
}
.menu-list li a:hover::after{
    width: 100%;
    left: 0;
}
.menu-list li a:hover{
    padding-left: 5px;
    padding-right: 5px;
}
#icon{
    min-width: 40px;
    font-size:25px;
}
#text{
    width: 100%;
    display: none;
}
#plus{
    display: none;
}
.toggle{
    margin-top: 0px;
    background: #d5defd;
    width: 100%;
    height: 70px;
    text-align: center;
    position: relative;
}

.toggle-inner{
    height: 30px;
    width: 60px;
    position: absolute;
    right: 10%;
    top: 30%;
    border-radius: 60px;
    background: lawngreen;
}
.toggle-inner span{
    background: #fff;
    border-radius: 50px;
    width:  27px;
    height: 27px;
    z-index: 10;
    top: 1px;
    right: 2px;
    position: absolute;
}
.toggle-inner.active{
    left: 0;
}
/* ----------- RIGHT SIDE BAR ----------  */
.rightbar{
    position: relative;
    height: 100%;
    background: #eee;
    top: 0;
    width: calc(100% - 80px);
    left: 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 1s;
}
.header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 10px 2%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 10;
}
.school h2{
    color: #039066;
    font-weight: 600;
    font-family: lato;
    margin-left: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.school h2 i{
    font-size: 35px;
    margin-right: 7px;
}
.header .menubar{
    font-size: 25px;
    color: #000;
    cursor: pointer;
    background: #cce7d8;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    font-size: 20px;
    padding: 0 9px;
    color: #5a5a5a;
}
.logo img{
    margin: 0 9px;
}
.logo .flag{
    width: 25px;
}
.logo .image{
    display: flex;
    align-items: center;
}

.avatar2{
    border-radius: 50%;
    width: 30px;
}

.right_body{
    padding: 10px 1%;
}

.right_hero{
    display: flex;
    justify-content: space-between;
}
.hero_inner{
    padding: 10px;
    border-radius: 20px;
    height: 150px;
    width: 24%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.hero_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero_box i{
    font-size: 60px;
    color: #5a5a5a;
}
.hero_box .content h2{
    font-size: 20px;
    color: #000;
    font-family: lato;
    font-weight: 600;
}
.hero_box .content span{
    font-size: 30px;
    color: #09ed8e;
    font-family: lato;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}
.hero_bottom{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}

.hero_bottom i{
    font-size: 18px;
    color: #09ed8e;
    padding-right: 7px;
}
.hero_bottom p{
    letter-spacing: 1px;
    font-size: 14px;
    font-family: lato;
    color: #5a5a5a;
}
#hotcolor{
    color: #fa9e13;
}

.last_line{
    background: #cce7d8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.last_line a{
    width: 100%;
    cursor: pointer;
}
.last_line a span{
    font-size: 20px ;
    font-family: lato;
    color: #000;
    width: 100%;
}
.last_line a i{
    font-size: 20px ;
    color: #000;
}
/* -------- STUDENTS -------  */
.adding{
    padding:  10px 0;
    display: flex;
    justify-content: space-between;
}
.adding a{
    color: #fff;
    font-size: 20px;
    font-family: lato;
    position: relative;
    cursor: pointer;
    background: #039066;
    padding: 10px;
}
.hero-input{
    display: flex;
    align-items: center;
}
.hero-input input{
    padding: 10px;
    width: 350px;
    font-size: 18px;
    background: none;
    border-radius: 20px 0 0 20px;
    border: 1px solid #ccc;
}
.hero-input .btm{
    width: 50px;
    padding: 12px;
    border-radius: 0 20px 20px 0;
}
.form_body{
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 20px;
}
.form_body form{
    width: 100%;
    position: relative;
}
.input-box{
    margin: 15px auto;
}
.input-box span{
    font-size: 20px;
    font-family: lato;
}
.input-box input{
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}
.butt{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
button{
    background: #039066;
    border: none;
    padding: 15px;
    width: 150px;
    font-size: 20px;
    color: #fff;
    font-family: lato;
}
.btn{
    margin: 0 9px;
    background: #f71e1e;
}
.Details{
    margin: 20px 0 0 ;
}

.sort-side{
    display: flex;
    align-items: center;
}
.sort-side p{
    background: #ccc;
    margin-right: 9px;
    padding: 5px 10px;
    border-radius: 6px;
    color: #5a5a5a;
}
.sort-side p i{
    margin-left: 6px;

}
.Std_details{
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.Std_details table{
    border-collapse: collapse;
}
.Std_details table thead{
    background: #cce7d8;
    text-align: center;
    cursor: pointer;
}
.Std_details table thead td{
    font-size: 18px;
    font-family: lato;
    padding: 10px;
}
.Std_details table tbody{
    text-align: center;
}
.Std_details table tbody td{
    padding: 10px;
    font-size: 16px;
    font-weight: 100;
    font-family: lato;
    text-align: center;
    cursor: pointer;
    border: 1px solid #cce7d8;
}

.Std_details table tbody td img{
    width: 30px;
    height: 30px;
    margin-right: 9px;
    border-radius: 50%;
}
.Std_details table tbody td p{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: lato;
}

.Std_details table td:nth-child(1){
    width: 300px;
    text-align: left;
}
.Std_details table tbody tr:nth-child(2),
.Std_details table tbody tr:nth-child(4),
.Std_details table tbody tr:nth-child(6){
    background: #eefff6;

}
.Std_details table tbody tr:hover{
    background: #0af373;
    transition: 1s linear;
}

footer{
    text-align: center;
    padding: 30px;
}
footer p,
footer span{
    font-size: 16px;
}
footer p i{
    color: #fb3d3d;
    padding-left: 5px;
}
/* ---------- FACULTY START ----------  */
.faculty{
    display: flex;
    justify-content: space-between;
}
.faculty_left{
    height: 100%;
    flex-basis: 79%;
}
.faculty_right{
    flex-basis: 20%;
    background: #fff;
    height: 100vh;
    position: sticky;
    top: 0;
}
.admin{
    text-align: center;
    padding: 10px;
}
.fac_image{
    margin: 6px 0;
}
.admin img{
    border-radius: 50%;
    width: 120px;
}
.fac-icon{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fac-icon i{
    margin: 0 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fac-about{
    margin: 20px 0;
    text-align: start;
}
.fac-about p{
    font-size: 16px;
}
.school h2:nth-child(2){
    display: none;
}
/* ---------- MEDIA QUERRY SECTION ----------  */
@media (max-width: 768px) {
    .school h2:nth-child(1){
        display: none;
    }
    .school h2:nth-child(2){
        display: flex;
        font-size: 18px;
    }
    .header .menubar {
        margin-left: 0px;
    }
    .right_hero {
        flex-wrap: wrap;
    }
    .hero_inner {
        height: 150px;
        width: 48%;
        margin-bottom: 20px;
    }
    .faculty {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .sidebar {
       display: none;
    }
    .rightbar {
        width: auto;
        left: 0;
    }
    .header {
        w
    }
}










